@keyframes followanim {
    0%{
        clip-path: polygon(19% 9%, 31% 23%, 43% 29%, 50% 31%, 42% 38%, 34% 40%, 26% 43%, 18% 38%, 1% 11%, 19% 0);
        transform: translateY(0);
    }
    35%{
        clip-path: polygon(19% 9%, 38% 66%, 42% 69%, 44% 80%, 46% 89%, 51% 100%, 42% 100%, 18% 38%, 1% 11%, 19% 0);
    }
    70%{
        clip-path: polygon(19% 9%, 28% 17%, 35% 33%, 37% 44%, 42% 73%, 51% 91%, 42% 100%, 18% 38%, 1% 11%, 19% 0);
        transform: translateY(3px);
    }
    100%{
        clip-path: polygon(56% 77%, 69% 23%, 82% 6%, 93% 26%, 74% 50%, 51% 100%, 41% 64%, 17% 35%, 0 13%, 24% 0);
    }
  }

@keyframes unfollowanim {
    0%{
        clip-path: polygon(19% 33%, 29% 21%, 46% 16%, 62% 21%, 71% 33%, 69% 47%, 55% 38%, 45% 31%, 42% 38%, 39% 43%, 28% 47%, 21% 40%);
        transform: scale(1);
    }
    50%{
        clip-path: polygon(40% 26%, 58% 18%, 83% 4%, 94% 5%, 61% 31%, 64% 39%, 48% 46%, 27% 71%, 0 100%, 3% 77%, 36% 45%, 34% 36%);
        transform: scale(1.15);
    }
    100%{
        clip-path: polygon(28% 9%, 42% 45%, 62% 0, 85% 0%, 56% 55%, 99% 98%, 74% 100%, 40% 63%, 12% 100%, 0 93%, 32% 53%, 0 13%);
    }
}

.userWrap {
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    border-radius: var(--main_blocks_border_radius);
    background-color: var(--transparent_lightblue);
    border: 2px solid var(--lightblue);
}

    .userWrap > div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px;
    } 

    .userWrap > div:last-of-type{
        align-items: flex-start;
        width: 100%;
    }

        .userWrap img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid rgb(67, 66, 71);
        }

        .userWrap button {
            margin-top: 10px;
            width: 130px;
            height: 18px;
            background-color: white;
            border-color: transparent;
            cursor: pointer;
            border-radius: 5px;
            font-family: inherit;
            font-size: 16px;
        }

        .followBtnStyle{
            position: relative;
            color: var(--green_text);
            box-shadow: 0px 0px 4px 0px var(--green_shadow);
        }

        .unfollowBtnStyle{
            position: relative;
            color: var(--dark_red);
            box-shadow: 0px 0px 4px 0px var(--dark_red);
        }

        .followBtnStyle::after {
            content: '';
            position: absolute;
            top: 2px;
            right: 5px;
            width: 23px;
            height: 20px;
            background-color: var(--light_green);
            clip-path: polygon(56% 77%, 69% 23%, 82% 6%, 93% 26%, 74% 50%, 51% 100%, 41% 64%, 17% 35%, 0 13%, 24% 0);
            animation-name: followanim;
            animation-duration: 0.5s;
        }

        .unfollowBtnStyle::after {
            content: '';
            position: absolute;
            top: -9px;
            left: 0px;
            width: 23px;
            height: 20px;
            background-color: var(--hotpink);
            clip-path: polygon(28% 9%, 42% 45%, 62% 0, 85% 0%, 56% 55%, 99% 98%, 74% 100%, 40% 63%, 12% 100%, 0 93%, 32% 53%, 0 13%);
            animation-name: unfollowanim;
            animation-duration: 0.5s;
        }

        .userWrap h3 {
            display: inline-block;
            padding: 3px 30px 0px 5px;
            background: linear-gradient(135deg, var(--transparent_lightblue) 31%, white);
            border-radius: 5px;
            border: 2px solid var(--lightblue); 
            margin-bottom: 5px;
        }

        .userWrap > div:last-of-type div:last-of-type {
            align-self: flex-end; 
        }

        .userWrap > div:last-of-type div:first-of-type div{
            padding: 3px 15px 0px 5px;
            border-radius: 5px;
            border: 1px solid var(--lightblue);
        }
            .userWrap > div:last-of-type span{
                color: var(--letters_dark_blue);
                padding: 5px 3px;
                border-radius: 5px;
                background-color: #e7f2ff;
                border: 1px solid var(--lightblue); 
                margin-right: 15px;
            }
