.formWrap{
    display: flex;
    flex-direction: column;
    max-width: 280px;
    height: 125px;
    justify-content: space-between;
}

.formWrap > input:last-of-type{
    margin-top: 15px;
    margin-bottom: 30px;
}

.formWrap > div{
    display: flex;
    align-items: center;
}

    .formWrap > div input{
        margin-left: 10px;
    }

.formWrap > button{
    margin: 0px auto;
    margin-top: 10px;
    width: 90px;
}