.main_nav_bar{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--lightblue);
  border-radius: var(--main_blocks_border_radius);
  grid-area: g;
}

  .main_nav_bar > .ul_nav_bar{
    font-size: 1.3rem;
  }

    .ul_nav_bar > li{
      margin-top: 10px;
    }

      .ul_nav_bar a{
        text-decoration: none;
        color: var(--letters_dark_blue);
      }
    
      .ul_nav_bar a:hover{
        color: grey;
        text-decoration: underline;
      }

  