*{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

.app-wrapper{
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:  "h h"
                        "g m";
  gap: 10px;
}

.main-content{
  grid-area: m;
}