@font-face {
  font-family: 'Titillium';
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Source+Code+Pro&family=Titillium+Web&display=swap');
  font-style: normal;
}

:root{
  --transparent_lightblue: rgba(175, 240, 248, 0.192);
  --lightblue:  rgb(175, 239, 255);
  --blue:  rgb(117, 196, 216);
  --blue_deep: rgb(222 248 254);
  /* --message_bg: rgb(158 218 253 / 50%); */
  --message_bg: white;
  --online_color: #1bf600;
  --h2_font_size: 2rem;
  --main_blocks_border_radius: 10px;
  --letters_dark_blue: rgb(0, 136, 177);
}

/**/

a:active{
  outline: none;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
