*{
    margin: 0;
    padding: 0;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  a:hover{
    color: grey;
    text-decoration: underline;
  }
  
  .app-wrapper{
    margin: 0 auto;
    max-width: 1200px;
    min-height: 600px;
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:  "h h"
                          "g m";
    grid-gap: 10px;
  }
  
  .main-content{
    grid-area: m;
  }

